@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Tagesschrift&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Bodoni Moda', serif ;
    font-size: 1.2rem;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background:linear-gradient(to right,rgb(2, 56, 2),rgba(23, 240, 23, 0.43));
}

.left-text{
    flex-basis: 30%;
}

.gallery{
    flex-basis: 50%;
}

.heading{
    /* border: 2px solid red; */
    font-size: 3rem;
    color: white;
    text-align: center;
}

.subheading{
    /* border: 2px red solid; */
    color: whitesmoke;
    text-align: center;
    margin-top:4px ;
}

.gallery{
    /* border: 2px solid red; */
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 190px;    
}

.box{
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-blend-mode: hard-light;
    transition: all 0.8s ease-in-out;
}

.box:hover{
    background-color:#393939;
    background-position: bottom;
    box-shadow: 1px 5px 8px rgb(0, 84, 21);
}

.row-1{
    grid-row: span 2;
}

.col-1{
    grid-column: span 2;
}